@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance:textfield;
    }

    body{
        @apply bg-primary-50 dark:bg-gray-700;
    }
    
    .btn{
        @apply inline-block px-4 py-2 border border-transparent rounded shadow-sm text-center transition;
    }
    .btn:focus{
        @apply outline-none ring;
    }
    .btn:disabled{
        @apply opacity-25;
    }

    .btn-blue{
        @apply bg-blue-900 dark:bg-blue-600 text-white;
    }
    .btn-blue:hover{
        @apply bg-blue-600 dark:bg-blue-500;
    }
    .btn-blue:active{
        @apply bg-blue-900;
    }
    .btn-blue:focus{
        @apply border-blue-900 ring-blue-300;
    }

    .btn-gray{
        @apply bg-gray-600 text-white;
    }
    .btn-gray:hover{
        @apply bg-gray-500;
    }
    .btn-gray:active{
        @apply bg-gray-700;
    }
    .btn-gray:focus{
        @apply border-gray-700 ring-gray-200;
    }

    .btn-red{
        @apply bg-red-700 text-white;
    }
    .btn-red:hover{
        @apply bg-red-600;
    }
    .btn-red:active{
        @apply bg-red-800;
    }
    .btn-red:focus{
        @apply border-red-900 ring-red-300;
    }

    .btn-green{
        @apply bg-green-900 text-white;
    }
    .btn-green:hover{
        @apply bg-green-600;
    }
    .btn-green:active{
        @apply bg-green-900;
    }
    .btn-green:focus{
        @apply border-green-900 ring-green-300;
    }

    .btn-yellow{
        @apply bg-yellow-900 text-white;
    }
    .btn-yellow:hover{
        @apply bg-yellow-600;
    }
    .btn-yellow:active{
        @apply bg-yellow-900;
    }
    .btn-yellow:focus{
        @apply border-yellow-900 ring-yellow-300;
    }

    .btn-white{
        @apply bg-white border-gray-300 text-gray-700 dark:bg-gray-600 dark:border-gray-600 dark:text-gray-200;
    }
    .btn-white:hover{
        @apply text-gray-500 dark:bg-gray-500 dark:text-white;
    }
    .btn-white:active{
        @apply bg-gray-50 text-gray-800;
    }
    .btn-white:focus{
        @apply border-blue-300 ring-blue-200;
    }

    .btn-excel{
        background-color: #476F51;
        @apply text-gray-200;
    }
    .btn-excel:hover{
        background-color: #578863;
        @apply text-white;
    }
    .btn-excel.disabled{
        background-color: #578863;
        @apply text-gray-400;
    }

    .btn-outline-blue{
        @apply border-blue-900 text-blue-900 bg-transparent dark:border-blue-200 dark:text-blue-200 dark:bg-blue-900;
    }
    .btn-outline-blue:hover{
        @apply border-blue-600 bg-blue-600 text-white;
    }
    .btn-outline-blue:active{
        @apply bg-blue-900 text-white;
    }
    .btn-outline-blue:focus{
        @apply border-blue-900 ring-blue-300;
    }

    .btn-outline-black{
        @apply border-gray-900 text-gray-900 bg-transparent dark:border-gray-200 dark:text-gray-200;
    }
    .btn-outline-black:hover{
        @apply border-black text-black dark:border-white dark:text-white;
    }
    .btn-outline-black:active{
        @apply border-black text-black dark:border-white dark:text-white;
    }
    .btn-outline-black:focus{
        @apply ring-gray-300;
    }

    .label{
        @apply block font-medium text-sm text-gray-700 dark:text-gray-200;
    }
    .input{
        @apply border-gray-300 rounded-md shadow-sm dark:border-gray-500 dark:bg-gray-700 dark:text-gray-200;
    }
    .input:focus{
        @apply border-blue-300 ring ring-blue-200 ring-opacity-50;
    }

    .alert{
        @apply px-4 py-2 border border-transparent rounded-md font-semibold text-center;
    }
    .alert-red{
        @apply bg-red-100 border-red-300 text-red-600;
    }
    .alert-green{
        @apply bg-green-100 border-green-300 text-green-600;
    }


    .dropdown-link{
        @apply block w-full px-4 py-2 text-sm leading-5 text-gray-700 dark:text-gray-200 text-left transition;
    }
    .dropdown-link:hover{
        @apply bg-gray-100 dark:bg-gray-800 dark:text-white;
    }
    .dropdown-link:focus{
        @apply outline-none bg-gray-100 dark:bg-gray-800;
    }

    aside .router-link-active{
        @apply font-bold bg-gray-200 dark:bg-gray-700;
    }

    a.content-link{
        @apply text-blue-700 dark:text-blue-400 underline;
    }
    
    .table-wrapper{
        @apply flex-grow bg-white rounded dark:bg-gray-800 dark:border-gray-500;
    }

    .table-wrapper table{
        @apply w-full;
    }

    .table-wrapper tbody tr{
        @apply border-b border-gray-200 dark:border-gray-500;
    }

    .table-wrapper table th{
        z-index: 1;
        position: sticky; 
        top: 0; 
        @apply whitespace-nowrap bg-primary-200 dark:bg-gray-900 py-2 px-4 font-bold text-left border-t-0 border-b-0;
    }

    .table-wrapper table td{
        @apply whitespace-nowrap py-2 px-4 font-normal;
    }
}
    
